@import '../../partials/mixins';
@import '../../partials/variables';

.board-container {
    height: 100%;
    background: $light-grey;

    div.empty-board {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: Center;
        justify-content: center;
        gap: 32px;

        p {
            @include headingL;
            color: $medium-grey;
        }

        button#add-new-column-btn {
            @include add-new-task-btn;
            padding: 0 18px;
        }

        button#add-new-column-btn:hover {
            @include add-new-task-btn-hover;
        }
    }

    
    div.not-empty-board {
        width: 100%;
        height: 100%;
        padding: 24px;
        display: flex;
        gap: 24px;

        div.column-container {
            width: 280px;
            height: fit-content;
            margin-bottom: 20px;

            div.column-head {
                display: flex;
                gap: 12px;
    
                div.circle {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: rgb(12, 194, 255);
                }
    
                p.column-name {
                    @include headingS;
                    
                }
            }
        }
    }
}