.app-container {
    display: flex;
    overflow: hidden;


    .right-side {
        display: flex;
        flex-direction: column;
        flex: 1;

        app-board {
            flex: 1;
        }
    }
}
