<div class="new-task-container">
    <p class="heading">Add New Task</p>

    <div class="title-container">
        <label for="title">Title</label>
        <input id="title" type="text" placeholder="e.g. Take coffee break">
    </div>

    <div class="description-container">
        <label for="description">Description</label>
        <input id="description" type="text" placeholder="e.g. It's always good to take a break. This 15 minutes break will recharge the batteries a little.">
    </div>

    <div class="subtasks-container">
        <div class="subtask-item">
            <input id="subtasks" type="text" placeholder="e.g. It's always good to take a break. This 15 minutes break will recharge the batteries a little.">
            <svg class="cross-icon" width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"/><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"/></g></svg>
        </div>
        <div class="subtask-item">
            <input id="subtasks" type="text" placeholder="e.g. It's always good to take a break. This 15 minutes break will recharge the batteries a little.">
            <svg class="cross-icon" width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"/><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"/></g></svg>
        </div>
        <button class="add-new-subtask-btn">+Add New Subtask</button>
    </div>

    <div class="status-container">
        <select name="status" id="status">
            <option value="doing">Todo</option>
            <option value="doing">Doing</option>
            <option value="doing">Done</option>
        </select>
        <svg class="down-arrow" width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path stroke="#635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4"/></svg>
    </div>

</div>