    <div class="task-container">
        @if(selectedTask) {
                <div class="heading">
                        <p class=task-title>  {{ selectedTask.title }} </p>
                    <svg class="vertical-ellipsis" width="5" height="20" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><circle cx="2.308" cy="2.308" r="2.308"/><circle cx="2.308" cy="10" r="2.308"/><circle cx="2.308" cy="17.692" r="2.308"/></g></svg>
                </div>
                <p class="task-description"> {{ selectedTask.description }} </p>
                @if(selectedTask.subtasks; as subtasks){
                    <p class="subtask-count">Subtasks {{ checkCompletedCount }} of {{ subtasks.length }} </p>
                    @for(complete of selectedTask.subtasks; track complete) {
                            <div class="subtasks">
                                <div class="subtask-item">
                                    <input type="checkbox" name="task" class="task" [checked]="complete.isCompleted === true? true: false">
                                    <label for="task" id="for-checkbox">{{ complete.title }}</label>
                                </div>
                            </div>
                    }
                }
                <div class="current-status">
                    <label for="status" id="for-status">{{ selectedTask.status }}</label>
                    <div class="select-container">
                        <select name="status" id="status">
                            <option value="doing">Todo</option>
                            <option value="doing">Doing</option>
                            <option value="doing">Done</option>
                        </select>
                        <svg class="down-arrow" width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path stroke="#635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4"/></svg>
                    </div>
                </div>
        }
    </div>

    <div class="lightbox"></div>
