@import '../../partials/variables';
@import '../../partials/mixins';

div.task-container {
    width: 480px;
    height: fit-content;
    border-radius: 6px;
    background: $white;
    padding: 32px;

    div.heading {
        @include headingL;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        p.task-title {
            width: 387px;
            margin-bottom: 24px;
        }
    }

    p.task-description {
        @include paragM;
        color: $medium-grey;
        margin-bottom: 24px;
    }

    p.subtask-count {
        @include paragB;
        color: $medium-grey;
        margin-bottom: 16px;
    }

    div.subtasks {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;

        .subtask-item {
            display: flex;
            align-items: center;
            height: fit-content;
            background: $light-grey;
            padding: 12px 12px;

            input.task {
                width: 16px;
                height: 16px;
                margin-right: 16px;
                accent-color: $main-purple;
            }

            label#for-checkbox {
                
            }
        }
    }

    div.current-status {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label#for-status {
            @include paragB;
            color: $medium-grey;
        }

        div.select-container {
            position: relative;

            select#status {
                @include headingL;
                font-weight: 600;
                color: $black;
                width: 100%;
                border-radius: 6px;
                border: 1px solid $lines-light;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                height: 40px;
                padding: 0 15.8px;
            }
            select#status:focus {
                outline: none;
            }
    
            svg.down-arrow {
                position: absolute;
                z-index: 6;
                top: 50%;
                transform: translateY(-50%);
                right: 15.8px;
            }
        }
    }

}


.checked {
    @include paragB;
    text-decoration: line-through;
    opacity: .5;
}

.not-checked {
    @include paragB;
}